<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Ph.D. in NLP.</p>
    <p>Love Machine learning and believe one day Machine will take over.</p>
    <p>Current Amazonian, working on Search Relevance.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
